@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome To Sing It</h1>
    <p class="lead">Your online Singing Competition</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <p>Have you got it! Are you the one?</p>
    <p>
        Sick and tired of travelling up and down the country to try and win, or even get a chance to sing on TV?
        Well travel no more.
    </p>
    <p>
        Sing from the comfort of your own home with sing it online and you could win weekly cash prizes and a chance to sing in the cash grand finale.
        Sing what you want, how you want. Make it great as only the best will advance to the next step.
    </p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@