@model IEnumerable<SingIt.Models.Song>

@{
    ViewBag.Title = "Success";
}

<hr />

<h1>CONGRADULATIONS!!!!!</h1>
 <p></p>YOU HAVE SUCCESSFULLY COMPLETED YOUR ENTRY IN THE SING IT ONLINE COMPETITION
GOODLUCK TO YOU NOW AND IN THE FUTURE WE HOPE TO HEAR MORE FROM YOU SOON!
</p>
<hr />